{% extends 'Admin_home.html' %}
{% block content %}

<br>
<br>

<div class="card">
  <h5 class="card-header">View Subscription Details</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Plan</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for i in sub %}
          <tr>
            <td>{{ i.user.username }}</td>
            <td>{{ i.user.email }}</td> 
            <td>{{ i.plan.name }}</td> 
            <td>{{ i.start_date }}</td>
            <td>{{ i.end_date }}</td>
            <td>{{ i.status }}</td>
            <td>
              {% if i.payment_status == "paid" %}
                <button class="btn btn-success btn-sm" onclick="location.href='{% url 'view_payment' i.id %}'">
                  {{ i.payment_status }}
                </button>
              {% else %}
                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#paymentAlertModal">
                  {{ i.payment_status }}
                </button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="paymentAlertModal" tabindex="-1" aria-labelledby="paymentAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="paymentAlertModalLabel">Payment Pending</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="text-dark">The payment for this subscription has not been completed yet. Please follow up with the user for resolution.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-header.bg-danger {
    background-color: #dc3545;
  }

  .modal-header h5 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .modal-body p {
    font-size: 1rem;
    margin: 0;
  }

  .modal-footer .btn {
    width: 100px;
  }
</style>

{% endblock %}
