{% extends 'user_home.html' %}
{% block content1 %}
{% block search %}
{% endblock %}
<br>
<br>
<br><br>
<br>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-3 col-sm-12 col-xs-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <div class="user-information">
                    <div class="user-img">
                        <a href="#">
                            <img src="{{ v.avatar.url }}" alt="User Avatar">
                            <br>
                        </a>
                       
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li class="active"><a href="{% url 'view_profile' %}">Profile</a></li>
                            <li><a href="{% url 'plan_history' %}">Your Plan History</a></li> 
                            <li><a href="{% url 'user_favourites' %}">Your Favorite</a></li>
                            <li><a href="{% url 'liked_movies'%}">Liked Movies</a></li>
                           
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro">
                    <!-- User Update Form -->
                    <form method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h4>01. Update Profile Details</h4>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Username</label>
                                <input
                                    type="text"
                                    name="username"
                                    value="{{ v.username }}"
                                    placeholder="Enter your username"
                                    maxlength="100"
                                    required>
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Email Address</label>
                                <input
                                    type="email"
                                    name="email"
                                    value="{{ v.email }}"
                                    placeholder="Enter your email"
                                    required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-it">
                                <label>Phone</label>
                                <input
                                    type="text"
                                    name="phone"
                                    value="{{ v.phone }}"
                                    placeholder="Enter your phone number"
                                    pattern="\d{10}"
                                    maxlength="10"
                                    required>
                            </div>
                            <div class="col-md-6 form-it">
                                <label>Avatar</label>
                                <input
                                    type="file"
                                    name="avatar">
                            </div>

                           <div class="row">
    <div class="col-md-6 form-it">
        <label>Password</label>
        <input 
            type="password" 
            name="password" 
            id="password-2" 
            placeholder="Create a strong password" 
            minlength="8" 
            maxlength="20" 
            style="text-transform: none;" 
            >
    </div>
    <div class="col-md-6 form-it">
        <label>Re-type Password</label>
        <input 
            type="password" 
            name="repassword" 
            id="repassword-2" 
            placeholder="Re-enter your password" 
            minlength="8" 
            maxlength="20" 
            style="text-transform: none;" 
            >
    </div>
</div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input class="submit" type="submit" value="Update">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
header {
    background-color:rgba(11, 92, 143, 0.33); /* New background color */
    color: #fff; /* Text color for better contrast */
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}


</style>

{% endblock %}
